<div class="wrapper wrapper_xs">
	<nav class="c-navigation">

		<a routerLink="/calculate" class="c-navigation__item c-navigation__item_calculate is-active">
			<i class="material-icons">local_atm</i>
			<span class="c-navigation__label">Calcular</span>
		</a>
		<a routerLink="/tutorial" class="c-navigation__item c-navigation__item_tutorial">
			<i class="material-icons">format_list_numbered</i>
			<span class="c-navigation__label">Tutorial</span>
		</a>
		<a routerLink="/about" class="c-navigation__item c-navigation__item_about">
			<i class="material-icons">info_outline</i>
			<span class="c-navigation__label">Info</span>
		</a>

	</nav>
</div>
