<div class="c-logo c-logo_home">
	<img src="./assets/img/logos/logo__free_color.svg" alt="Logo">
</div>
<div class="c-biginput" onclick="f_animateBiginputToTop();">
	<div class="c-biginput__box">
		<label class="c-biginput__currency" for="price_original">US$</label>
		<input type="number" name="productvalue" value="" placeholder="0.00" id="price_original" class="c-biginput__input" onkeyup="f_setBiginputValidation($(this));">
		<div class="c-biginput__ok"><i class="material-icons">check</i></div>
	</div>
	<div class="c-biginput__dollar">Dolar: AR$<span id="dollarConverted">17.54</span></div>
</div>

<article class="">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit optio hic non ipsam facere ipsa saepe veniam ex veritatis architecto tempore, reiciendis. Esse expedita vero, voluptate, earum sapiente quia. Pariatur!
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit optio hic non ipsam facere ipsa saepe veniam ex veritatis architecto tempore, reiciendis. Esse expedita vero, voluptate, earum sapiente quia. Pariatur!
</article>


<app-navigation></app-navigation>
<!-- NOTE: On load trick --> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIW2NgYAAAAAMAAdzsfUgAAAAASUVORK5CYII=" class="h-hidden" onload="f_detectPageAndApplyToNav('calculate');">
