<article class="l-about__body">

	<section class="c-cards">
		<img src="assets/img/logos/logo__circle_color.svg" alt="Logo" class="l-about__logo">
		<div class="c-cards__header">
			<span class="c-cards__title">Introducción</span>
		</div>
		<div class="c-cards__body">
			Calculadora Puerta a Puerta te ayuda a simular el costo final de importación de tus futuras compras internacionales a través del el servicio puerta a puerta de la AFIP.
			<br><br>
			El costo del envío forma parte del total de la compra. Es importante para calcular el impuesto del VEP.
		</div>
	</section>
	<section class="c-cards">
		<div class="c-cards__header">
			<span class="c-cards__title">A tener en cuenta</span>
		</div>
		<div class="c-cards__body">
			Si vas a elegir un correo privado como , DHL, FedEx u otro, esta app no es para vos. Esta app solo funciona con el método de envío a través de Correo Argentino.
			<br><br>
			Te recomiendo que por el momento no compres en tiendas ubicadas en Estados Unidos, tal vez nunca veas el producto en tus manos. Te recomiendo que compres en tiendas de Europa o China.
		</div>
	</section>
	<section class="c-cards">
		<div class="c-cards__header">
			<span class="c-cards__title">Créditos</span>
		</div>
		<div class="c-cards__body">
			Desarrollado y mantenido por <a href="https://twitter.com/lucasromerodb" target="_blank">Lucas Romero Di Benedetto »</a>, se distribuye bajo una licencia 'MIT Licence' y fue publicado como software open source en <a href="https://github.com/lucasromerodb/calculadora-puerta-a-puerta" target="_blank">GitHub »</a>.
			<br><br>
			Version 1.0
			<br>
			--/10/2017
		</div>
	</section>
	<app-social></app-social>
</article>
<app-navigation></app-navigation>
<!-- NOTE: On load trick --> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIW2NgYAAAAAMAAdzsfUgAAAAASUVORK5CYII=" class="h-hidden" onload="f_detectPageAndApplyToNav('about');">
