<div class="c-cards">
	<div class="c-cards__header">
		<i class="material-icons">airplanemode_active</i>
		<span class="c-cards__title">El envío está incluido</span>
		<div class="c-cards__action">
			<i class="material-icons">check_box_outline_blank</i>
		</div>
	</div>
	<div class="c-cards__body">
		El costo del envío forma parte del total de la compra. Es importante para calcular el impuesto del VEP.
	</div>
</div>
<app-navigation></app-navigation>
<!-- NOTE: On load trick --> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIW2NgYAAAAAMAAdzsfUgAAAAASUVORK5CYII=" class="h-hidden" onload="f_detectPageAndApplyToNav('about');">
