<article class="l-tutorial__body">
	<section class="c-cards">
		<div class="c-cards__header">
			<span class="c-cards__title">Proximamente...</span>
		</div>
		<div class="c-cards__body">
			Calculadora Puerta a Puerta próximamente contará con una sección detallada de todo el proceso de compra, clave fiscal nivel 3, acceso a la app de AFIP, declaración jurada, retiro por sucursal, retiro en domicilio, etc.
		</div>
	</section>
	<app-social></app-social>
</article>
<app-navigation></app-navigation>
<!-- NOTE: On load trick --> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIW2NgYAAAAAMAAdzsfUgAAAAASUVORK5CYII=" class="h-hidden" onload="f_detectPageAndApplyToNav('tutorial');">
