<div class="wrapper wrapper_xs">
	<article class="l-tutorial__body">
		<section class="c-cards">
			<div class="c-cards__header">
				<span class="c-cards__title">Proximamente...</span>
			</div>
			<div class="c-cards__body">
				¿Querés importar algun producto y no sabes cómo hacer?
				<br><br>
				Calculadora Puerta a Puerta próximamente contará con una sección detallada de todo el proceso de compra a modo "tutorial".
				<br><br>
				Algunos de los contenidos son:
				<br><br>
				Cómo obtener la clave fiscal nivel 3, acceso y gestión dentro de la plataforma de AFIP, cómo hacer tu declaración jurada, qué tener en cuenta para retirar por sucursal, qué tener en cuenta al retirar en el domicilio, algunos consejos, etc.
				<br><br>
				<a routerLink="/about">Más información acerca de la app »</a>
			</div>
		</section>
		<app-social></app-social>
	</article>
</div>
<app-navigation></app-navigation>
<!-- NOTE: On load trick --> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQIW2NgYAAAAAMAAdzsfUgAAAAASUVORK5CYII=" class="h-hidden" onload="f_detectPageAndApplyToNav('tutorial');">
