.c-navigation
	display: flex
	align-items: center
	@extend %bbx
	padding-left: 20px
	padding-right: 20px
	height: 80px

	.wrapper
		display: flex
		justify-content: space-between
		align-items: center
		flex-direction: row

	&__logo
		max-height: 35px

	&__help
		display: flex
		justify-content: flex-end
		align-items: center
		width: 100%
		text-align: right


	// @extend %bbx
	// position: fixed
	// z-index: 100
	// top: 0
	// left: 0
	//
	// display: flex
	// align-items: center
	// opacity: 0
	// width: 100%
	// min-height: $nav-height
	// background-color: transparent
	// background-color: red
	//
	// &.is-dark
	// 	background-color: #000
//
// 	&.is-hidden
// 		.c-navigation__cartHidden
// 			transform: translateY(100%)
// 			opacity: 1
//
// 		.c-navigation__cart
// 			animation: none
//
// 	&__logo
// 		display: flex
// 		justify-content: flex-start
// 		align-items: center
// 		float: left
// 		height: $nav-height
// 		margin-left: 6px
//
// 		img
// 			display: block
// 			max-height: 100%
// 			max-height: 38px
//
// 	&__trigger
// 		position: relative
// 		width: 32px
// 		height: 32px
// 		display: block
// 		float: right
// 		margin-top: 8px
// 		margin-right: 10px
// 		margin-left: 15px
// 		cursor: pointer
// 		+responsive(839, min)
// 			display: none
// 		+responsive(500)
// 			// margin-right: 0
// 			margin-left: 0
//
// 	&__bars
// 		position: absolute
// 		z-index: 1011
// 		right: 0
// 		top: 0
// 		width: 32px
// 		height: 32px
// 		opacity: 0.8
// 		cursor: pointer
// 		&::before
// 			transform: rotate(90deg) translateX(5px)
// 		&::after
// 			transform: rotate(-90deg) translateX(5px)
// 		&:hover
// 			&::before
// 				transform: rotate(90deg) translateX(8px)
// 			&::after
// 				transform: rotate(-90deg) translateX(8px)
//
// 		&.is-opened
// 			&::before
// 				transform: rotate(50deg)
// 			&::after
// 				transform: rotate(-50deg)
// 			&:hover
// 				&::before
// 					transform: rotate(60deg)
// 				&::after
// 					transform: rotate(-60deg)
//
// 		&::before,
// 		&::after
// 			position: absolute
// 			left: 15px
// 			content: ''
// 			height: 33px
// 			width: 3px
// 			background-color: #fff
// 			transition: transform 0.2s ease 0s
//
// 	&__menu
// 		float: right
// 		margin: 0
// 		+responsive(841,min)
// 			height: $nav-height
// 			display: flex
// 			align-items: center
//
// 		+responsive(840)
// 			width: 100%
// 			flex-wrap: wrap
// 			justify-content: space-between
// 			border-top: 1px solid transparentize(#fff, 0.8)
// 			padding-top: 20px
// 			padding-bottom: 20px
// 			display: none
//
// 	&__item
// 		float: left
// 		margin-right: 4px
// 		margin-left: 4px
//
// 		+responsive(841,min)
// 			display: flex
// 			align-items: center
//
// 		+responsive(640)
// 			padding: 10px
//
// 		a
// 			padding-left: 5px
// 			padding-right: 5px
// 			font-size: 1em
// 			text-decoration: none
// 			transition: all 0.2s ease 0s
// 			color: #fff
//
// 			+responsive(841,min)
// 				display: flex
// 				align-items: center
// 				height: 50px
//
// 	&__cart
// 		position: relative
// 		@extend .air
// 		float: right
// 		height: 50px
// 		display: flex
// 		align-items: center
// 		padding-right: 10px
// 		padding-left: 10px
// 		// border-radius: 3px
// 		cursor: pointer
// 		margin-left: 10px
// 		transition: all 0.2s ease 0s
//
// 		+responsive(768)
// 			// transform: translateX(10px)
//
// 		&.not-empty
// 			+responsive(769, min)
// 				animation: emptyCart 2.5s ease infinite, emptyCartSize--desktop 4s ease infinite
// 			+responsive(768)
// 				animation: emptyCart 2.5s ease infinite
// 			//   animation: emptyCart 2.5s ease infinite, emptyCartSize--mobile 4s ease infinite
//
// 			&::before
// 				position: absolute
// 				content: ''
// 				top: 7px
// 				left: 22px
// 				display: block
// 				width: 9px
// 				height: 9px
// 				background-color: $nf-success
// 				// border-radius: 20px
// 				box-shadow: 0 0 0 1px #fff
// 				animation: productAdded 0.9s linear infinite
//
// 				+responsive(320)
// 					top: -2px
// 					left: -2px
//
// 		&Hidden
// 			@extend %bbx
// 			position: absolute
// 			bottom: 0
// 			right: 0
// 			justify-content: flex-start
// 			transform: translateY(0)
// 			background-color: $nf-success
// 			padding: 8px
// 			padding-left: 10px
// 			padding-right: 3px
// 			opacity: 0
// 			transition: transform 0.2s ease 0.1s, opacity 0.1s ease 0.1s
// 			border-radius: 0 0 0 10px
//
// 			+responsive(641,min)
// 				border-radius: 0 0 10px 10px
//
// 			&::before
// 				content: '$'
//
// 	&__iconCart
// 		display: block
// 		width: 30px
// 		margin-right: 10px
// 		+responsive(350)
// 			display: none
//
// 	&__cartData
// 		margin-left: 10px
// 		text-align: right
// 		+responsive(500)
// 			margin: 0
//
// 	&__cartLabel
// 		text-transform: uppercase
// 		font-size: 60%
//
// 	&__cartTotal
// 		font-size: 100%
// 		&::before
// 			content: '$ '
//
// @keyframes emptyCart
// 	0%
// 		opacity: 1
// 	50%
// 		opacity: 0.75
// 	100%
// 		opacity: 1
//
// @keyframes emptyCartSize--desktop
// 	0%
// 		transform: scale(1)
// 		border-radius: 0
// 	5%
// 		transform: scale(0.9)
// 		border-radius: 10px
// 	10%
// 		transform: scale(1.1)
// 		border-radius: 10px
// 	15%
// 		transform: scale(1)
// 		border-radius: 0
//
// @keyframes emptyCartSize--mobile
// 	// 0%
// 	//   transform: translateX(-10px)
// 	// 5%
// 	//   transform: translateX(0)
// 	// 10%
// 	//   transform: translateX(-10px)
//
// @keyframes productAdded
// 	0%
// 		transform: translateY(0%) scaleX(1) scaleY(1)
// 	20%
// 		transform: translateY(50%) scaleX(0.8) scaleY(1.5)
// 	40%
// 		transform: translateY(100%) scaleX(1.2) scaleY(0.5)
// 	60%
// 		transform: translateY(50%) scaleX(0.6) scaleY(1.5)
// 	90%
// 		transform: translateY(-10%) scaleX(1) scaleY(0.8)
//
//
// // @keyframes productAdded
// //   30%
// //     transform: translateY(0) scaleX(1.2) scaleY(0.5)
// //   50%
// //     transform: translateY(6px) scaleX(1) scaleY(1.2)
