.c-step
	position: relative

	&_first
		display: block
		margin-bottom: 20px

	&_second
		height: 1px
		// background-color: lighten($br-main, 5%)
		@extend %bbx
		background-color: #fff
		visibility: hidden
		// padding-top: 20px
		// padding-bottom: 20px
		opacity: 0
		overflow-y: hidden
		transition: opacity 0.7s ease 0s

		+responsive(641,min)
			border-radius: 4px
			margin-bottom: 40px
			padding-right: 20px
			padding-left: 20px

		&.is-visible
			height: auto
			overflow-y: auto
			visibility: visible
			opacity: 1

	&__logo
		@extend %bbx
		padding: 10px 20px
		max-width: 120px
		margin-bottom: 10px

	&__title
		@extend %bbx
		padding: 0 20px
		margin: 0
		// margin-top: 10px
		margin-bottom: 15px

		&_main
			color: $br-main
			text-transform: none
			font-size: 2em

		&_extra
			color: $br-extra

	&__paragraph
		@extend %bbx
		padding: 0 20px 10px 20px
		margin-bottom: 20px
		color: $br-main
		font-size: 0.9em
		line-height: 1.5em

	&__dollar
		@extend %bbx
		padding: 10px 20px
		color: transparentize($br-main, 0.4)
		opacity: 0
		transition: opacity 0.3s ease

		&.is-visible
			opacity: 1

	&__author
		display: flex
		justify-content: flex-start
		align-items: center
		color: $br-main
		text-decoration: none

		&:hover
			text-decoration: none

		span
			text-decoration: underline

		.material-icons
			margin-right: 10px
